.gozoku-schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .gozoku-schedule-card {
    margin: 16px 8px;
    width: 20%;

    &:hover {
      opacity: 0.98;
    }
  }
}

@media screen and (max-width: 768px) {
  .gozoku-schedule {
    .gozoku-schedule-card {
      margin: 8px 0;
      width: 100%;
    }
  }
}

#map {
  height: 500px;
}
