@use '@angular/material' as mat;
@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette
    )
  )
);

html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0
    )
  );

  body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }

  .mat-mdc-card {
    border-radius: 0 !important;
  }

  .gozoku-flex {
    padding: 0 5%;
  }

  .gozoku-header {
    margin: 48px auto 32px;
    text-align: center;
  }

  .text-center {
    text-align: center;
  }
}
