@use '@angular/material' as mat;
@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette
    )
  )
);

html {
  &,
  body {
    @include mat.all-component-themes($theme);
    height: 100vh;
  }

  body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }

  .gozoku-flex {
    padding: 0 5%;
  }

  .gozoku-header {
    margin: 48px auto 32px;
    text-align: center;
  }
}
